# coding: utf-8

"""
    Cisco DNA Center Platform v. 1.2.x (EFT)

    REST API (EFT)  # noqa: E501

    OpenAPI spec version: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dnac_api_client.api_client import ApiClient


class CommandRunnerApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_network_device_poller_cli_legit_reads_get(self, **kwargs):  # noqa: E501
        """Get all keywords of CLIs accepted by command runner  # noqa: E501

        Get valid keywords  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_poller_cli_legit_reads_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: LegitCliKeyResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_poller_cli_legit_reads_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_poller_cli_legit_reads_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_poller_cli_legit_reads_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get all keywords of CLIs accepted by command runner  # noqa: E501

        Get valid keywords  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_poller_cli_legit_reads_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: LegitCliKeyResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_poller_cli_legit_reads_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device-poller/cli/legit-reads', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LegitCliKeyResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_poller_cli_read_request_post(self, command_runner_dto, **kwargs):  # noqa: E501
        """Run read-only commands on devices to get their real-time configuration  # noqa: E501

        Submit request for read-only CLIs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_poller_cli_read_request_post(command_runner_dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CommandRunnerDTO command_runner_dto: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_poller_cli_read_request_post_with_http_info(command_runner_dto, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_poller_cli_read_request_post_with_http_info(command_runner_dto, **kwargs)  # noqa: E501
            return data

    def api_v1_network_device_poller_cli_read_request_post_with_http_info(self, command_runner_dto, **kwargs):  # noqa: E501
        """Run read-only commands on devices to get their real-time configuration  # noqa: E501

        Submit request for read-only CLIs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_poller_cli_read_request_post_with_http_info(command_runner_dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CommandRunnerDTO command_runner_dto: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['command_runner_dto']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_poller_cli_read_request_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'command_runner_dto' is set
        if ('command_runner_dto' not in local_var_params or
                local_var_params['command_runner_dto'] is None):
            raise ValueError("Missing the required parameter `command_runner_dto` when calling `api_v1_network_device_poller_cli_read_request_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'command_runner_dto' in local_var_params:
            body_params = local_var_params['command_runner_dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device-poller/cli/read-request', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
