# coding: utf-8

"""
    Cisco DNA Center Platform v. 1.2.x (EFT)

    REST API (EFT)  # noqa: E501

    OpenAPI spec version: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dnac_api_client.api_client import ApiClient


class IntentDetailApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def dna_intent_api_v1_client_detail_get(self, timestamp, mac_address, **kwargs):  # noqa: E501
        """Client Detail  # noqa: E501

        Get Client Details for a single client  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_client_detail_get(timestamp, mac_address, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str timestamp: timestamp (required)
        :param str mac_address: MAC Address of the client (required)
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :return: ClientDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.dna_intent_api_v1_client_detail_get_with_http_info(timestamp, mac_address, **kwargs)  # noqa: E501
        else:
            (data) = self.dna_intent_api_v1_client_detail_get_with_http_info(timestamp, mac_address, **kwargs)  # noqa: E501
            return data

    def dna_intent_api_v1_client_detail_get_with_http_info(self, timestamp, mac_address, **kwargs):  # noqa: E501
        """Client Detail  # noqa: E501

        Get Client Details for a single client  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_client_detail_get_with_http_info(timestamp, mac_address, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str timestamp: timestamp (required)
        :param str mac_address: MAC Address of the client (required)
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :return: ClientDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['timestamp', 'mac_address', 'runsync', 'timeout']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method dna_intent_api_v1_client_detail_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'timestamp' is set
        if ('timestamp' not in local_var_params or
                local_var_params['timestamp'] is None):
            raise ValueError("Missing the required parameter `timestamp` when calling `dna_intent_api_v1_client_detail_get`")  # noqa: E501
        # verify the required parameter 'mac_address' is set
        if ('mac_address' not in local_var_params or
                local_var_params['mac_address'] is None):
            raise ValueError("Missing the required parameter `mac_address` when calling `dna_intent_api_v1_client_detail_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'timestamp' in local_var_params:
            query_params.append(('timestamp', local_var_params['timestamp']))  # noqa: E501
        if 'mac_address' in local_var_params:
            query_params.append(('macAddress', local_var_params['mac_address']))  # noqa: E501

        header_params = {}
        if 'runsync' in local_var_params:
            header_params['__runsync'] = local_var_params['runsync']  # noqa: E501
        if 'timeout' in local_var_params:
            header_params['__timeout'] = local_var_params['timeout']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/dna/intent/api/v1/client-detail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClientDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def dna_intent_api_v1_network_device_detail_get(self, **kwargs):  # noqa: E501
        """Network Device Detail  # noqa: E501

        Get Network Device Detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_network_device_detail_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :param str timestamp: timestamp
        :param str search_by: MAC Address or UUID or Name of the Device
        :param str identifier: macAddress or uuid or nwDeviceName
        :return: NetworkDeviceDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.dna_intent_api_v1_network_device_detail_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.dna_intent_api_v1_network_device_detail_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def dna_intent_api_v1_network_device_detail_get_with_http_info(self, **kwargs):  # noqa: E501
        """Network Device Detail  # noqa: E501

        Get Network Device Detail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_network_device_detail_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :param str timestamp: timestamp
        :param str search_by: MAC Address or UUID or Name of the Device
        :param str identifier: macAddress or uuid or nwDeviceName
        :return: NetworkDeviceDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['runsync', 'timeout', 'timestamp', 'search_by', 'identifier']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method dna_intent_api_v1_network_device_detail_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'timestamp' in local_var_params:
            query_params.append(('timestamp', local_var_params['timestamp']))  # noqa: E501
        if 'search_by' in local_var_params:
            query_params.append(('searchBy', local_var_params['search_by']))  # noqa: E501
        if 'identifier' in local_var_params:
            query_params.append(('identifier', local_var_params['identifier']))  # noqa: E501

        header_params = {}
        if 'runsync' in local_var_params:
            header_params['__runsync'] = local_var_params['runsync']  # noqa: E501
        if 'timeout' in local_var_params:
            header_params['__timeout'] = local_var_params['timeout']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/dna/intent/api/v1/network-device-detail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NetworkDeviceDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
