# coding: utf-8

"""
    Cisco DNA Center Platform v. 1.2.x (EFT)

    REST API (EFT)  # noqa: E501

    OpenAPI spec version: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dnac_api_client.api_client import ApiClient


class IntentWLCApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def dna_intent_api_v1_create_ssid_post(self, create_ssid_request, **kwargs):  # noqa: E501
        """Create SSID  # noqa: E501

        Creates non fabric enterprise SSID, dynamic interface, Wireless Network Profile and provisions WLC and AP  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_create_ssid_post(create_ssid_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSSIDRequest create_ssid_request: request (required)
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :return: CreateSSIDResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.dna_intent_api_v1_create_ssid_post_with_http_info(create_ssid_request, **kwargs)  # noqa: E501
        else:
            (data) = self.dna_intent_api_v1_create_ssid_post_with_http_info(create_ssid_request, **kwargs)  # noqa: E501
            return data

    def dna_intent_api_v1_create_ssid_post_with_http_info(self, create_ssid_request, **kwargs):  # noqa: E501
        """Create SSID  # noqa: E501

        Creates non fabric enterprise SSID, dynamic interface, Wireless Network Profile and provisions WLC and AP  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_create_ssid_post_with_http_info(create_ssid_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSSIDRequest create_ssid_request: request (required)
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :return: CreateSSIDResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['create_ssid_request', 'runsync', 'timeout']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method dna_intent_api_v1_create_ssid_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'create_ssid_request' is set
        if ('create_ssid_request' not in local_var_params or
                local_var_params['create_ssid_request'] is None):
            raise ValueError("Missing the required parameter `create_ssid_request` when calling `dna_intent_api_v1_create_ssid_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'runsync' in local_var_params:
            header_params['__runsync'] = local_var_params['runsync']  # noqa: E501
        if 'timeout' in local_var_params:
            header_params['__timeout'] = local_var_params['timeout']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'create_ssid_request' in local_var_params:
            body_params = local_var_params['create_ssid_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/dna/intent/api/v1/create-ssid', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateSSIDResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete(self, device_name, wireless_network_profile_name, ssid_name, interface_name, **kwargs):  # noqa: E501
        """Delete SSID  # noqa: E501

        De-provision WLC, also removes wireless network profile, SSID and dynamic interface  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete(device_name, wireless_network_profile_name, ssid_name, interface_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_name: (required)
        :param str wireless_network_profile_name: (required)
        :param str ssid_name: (required)
        :param str interface_name: (required)
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :return: DeleteSSIDResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete_with_http_info(device_name, wireless_network_profile_name, ssid_name, interface_name, **kwargs)  # noqa: E501
        else:
            (data) = self.dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete_with_http_info(device_name, wireless_network_profile_name, ssid_name, interface_name, **kwargs)  # noqa: E501
            return data

    def dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete_with_http_info(self, device_name, wireless_network_profile_name, ssid_name, interface_name, **kwargs):  # noqa: E501
        """Delete SSID  # noqa: E501

        De-provision WLC, also removes wireless network profile, SSID and dynamic interface  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete_with_http_info(device_name, wireless_network_profile_name, ssid_name, interface_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_name: (required)
        :param str wireless_network_profile_name: (required)
        :param str ssid_name: (required)
        :param str interface_name: (required)
        :param bool runsync: Enable this parameter to execute the API and return a response synchronously
        :param float timeout: During synchronous execution, this defines the maximum time to wait for a response, before the API execution is terminated
        :return: DeleteSSIDResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['device_name', 'wireless_network_profile_name', 'ssid_name', 'interface_name', 'runsync', 'timeout']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'device_name' is set
        if ('device_name' not in local_var_params or
                local_var_params['device_name'] is None):
            raise ValueError("Missing the required parameter `device_name` when calling `dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete`")  # noqa: E501
        # verify the required parameter 'wireless_network_profile_name' is set
        if ('wireless_network_profile_name' not in local_var_params or
                local_var_params['wireless_network_profile_name'] is None):
            raise ValueError("Missing the required parameter `wireless_network_profile_name` when calling `dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete`")  # noqa: E501
        # verify the required parameter 'ssid_name' is set
        if ('ssid_name' not in local_var_params or
                local_var_params['ssid_name'] is None):
            raise ValueError("Missing the required parameter `ssid_name` when calling `dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete`")  # noqa: E501
        # verify the required parameter 'interface_name' is set
        if ('interface_name' not in local_var_params or
                local_var_params['interface_name'] is None):
            raise ValueError("Missing the required parameter `interface_name` when calling `dna_intent_api_v1_delete_ssid_device_name_wireless_network_profile_name_ssid_name_interface_name_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_name' in local_var_params:
            path_params['deviceName'] = local_var_params['device_name']  # noqa: E501
        if 'wireless_network_profile_name' in local_var_params:
            path_params['wirelessNetworkProfileName'] = local_var_params['wireless_network_profile_name']  # noqa: E501
        if 'ssid_name' in local_var_params:
            path_params['ssidName'] = local_var_params['ssid_name']  # noqa: E501
        if 'interface_name' in local_var_params:
            path_params['interfaceName'] = local_var_params['interface_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'runsync' in local_var_params:
            header_params['__runsync'] = local_var_params['runsync']  # noqa: E501
        if 'timeout' in local_var_params:
            header_params['__timeout'] = local_var_params['timeout']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/dna/intent/api/v1/delete-ssid/{deviceName}/{wirelessNetworkProfileName}/{ssidName}/{interfaceName}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteSSIDResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
