# coding: utf-8

"""
    Cisco DNA Center Platform v. 1.2.x (EFT)

    REST API (EFT)  # noqa: E501

    OpenAPI spec version: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dnac_api_client.api_client import ApiClient


class NetworkDeviceApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_interface_count_get(self, **kwargs):  # noqa: E501
        """Retrieves interface count  # noqa: E501

        Gets the count of interfaces for all devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_count_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_count_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_count_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_interface_count_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves interface count  # noqa: E501

        Gets the count of interfaces for all devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_count_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_count_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_get(self, **kwargs):  # noqa: E501
        """Retrieves all interfaces  # noqa: E501

        Gets all available interfaces with a maximum limit of 500  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_interface_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all interfaces  # noqa: E501

        Gets all available interfaces with a maximum limit of 500  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_id_get(self, id, **kwargs):  # noqa: E501
        """Retrieves interface by ID  # noqa: E501

        Gets the interface for the given interface ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_id_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Interface ID (required)
        :return: DeviceIfResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_interface_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves interface by ID  # noqa: E501

        Gets the interface for the given interface ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_id_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Interface ID (required)
        :return: DeviceIfResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_id_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in local_var_params or
                local_var_params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_interface_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_ip_address_ip_address_get(self, ip_address, **kwargs):  # noqa: E501
        """Retrieves interfaces by IP address  # noqa: E501

        Gets list of interfaces with the given IP address  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_ip_address_ip_address_get(ip_address, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_address: IP address of the interface (required)
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_ip_address_ip_address_get_with_http_info(ip_address, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_ip_address_ip_address_get_with_http_info(ip_address, **kwargs)  # noqa: E501
            return data

    def api_v1_interface_ip_address_ip_address_get_with_http_info(self, ip_address, **kwargs):  # noqa: E501
        """Retrieves interfaces by IP address  # noqa: E501

        Gets list of interfaces with the given IP address  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_ip_address_ip_address_get_with_http_info(ip_address, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_address: IP address of the interface (required)
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['ip_address']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_ip_address_ip_address_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'ip_address' is set
        if ('ip_address' not in local_var_params or
                local_var_params['ip_address'] is None):
            raise ValueError("Missing the required parameter `ip_address` when calling `api_v1_interface_ip_address_ip_address_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ip_address' in local_var_params:
            path_params['ipAddress'] = local_var_params['ip_address']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/ip-address/{ipAddress}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_isis_get(self, **kwargs):  # noqa: E501
        """Retrieves ISIS interfaces  # noqa: E501

        Gets the interfaces that has ISIS enabled  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_isis_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_isis_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_isis_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_interface_isis_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves ISIS interfaces  # noqa: E501

        Gets the interfaces that has ISIS enabled  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_isis_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_isis_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/isis', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_network_device_device_id_count_get(self, device_id, **kwargs):  # noqa: E501
        """Retrieves device interface count  # noqa: E501

        Gets the interface count for the given device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_count_get(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_network_device_device_id_count_get_with_http_info(device_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_network_device_device_id_count_get_with_http_info(device_id, **kwargs)  # noqa: E501
            return data

    def api_v1_interface_network_device_device_id_count_get_with_http_info(self, device_id, **kwargs):  # noqa: E501
        """Retrieves device interface count  # noqa: E501

        Gets the interface count for the given device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_count_get_with_http_info(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['device_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_network_device_device_id_count_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in local_var_params or
                local_var_params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `api_v1_interface_network_device_device_id_count_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_id' in local_var_params:
            path_params['deviceId'] = local_var_params['device_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/network-device/{deviceId}/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_network_device_device_id_get(self, device_id, **kwargs):  # noqa: E501
        """Retrieves device interfaces  # noqa: E501

        Gets list of interfaces for the given device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_get(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_network_device_device_id_get_with_http_info(device_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_network_device_device_id_get_with_http_info(device_id, **kwargs)  # noqa: E501
            return data

    def api_v1_interface_network_device_device_id_get_with_http_info(self, device_id, **kwargs):  # noqa: E501
        """Retrieves device interfaces  # noqa: E501

        Gets list of interfaces for the given device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_get_with_http_info(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['device_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_network_device_device_id_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in local_var_params or
                local_var_params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `api_v1_interface_network_device_device_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_id' in local_var_params:
            path_params['deviceId'] = local_var_params['device_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/network-device/{deviceId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_network_device_device_id_interface_name_get(self, device_id, name, **kwargs):  # noqa: E501
        """Retrieves interface for the given device and interface name  # noqa: E501

        Gets the interface for the given device ID and for the given interface name  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_interface_name_get(device_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :param str name: Interface name (required)
        :return: DeviceIfResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_network_device_device_id_interface_name_get_with_http_info(device_id, name, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_network_device_device_id_interface_name_get_with_http_info(device_id, name, **kwargs)  # noqa: E501
            return data

    def api_v1_interface_network_device_device_id_interface_name_get_with_http_info(self, device_id, name, **kwargs):  # noqa: E501
        """Retrieves interface for the given device and interface name  # noqa: E501

        Gets the interface for the given device ID and for the given interface name  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_interface_name_get_with_http_info(device_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :param str name: Interface name (required)
        :return: DeviceIfResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['device_id', 'name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_network_device_device_id_interface_name_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in local_var_params or
                local_var_params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `api_v1_interface_network_device_device_id_interface_name_get`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in local_var_params or
                local_var_params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `api_v1_interface_network_device_device_id_interface_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_id' in local_var_params:
            path_params['deviceId'] = local_var_params['device_id']  # noqa: E501

        query_params = []
        if 'name' in local_var_params:
            query_params.append(('name', local_var_params['name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/network-device/{deviceId}/interface-name', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_network_device_device_id_start_index_records_to_return_get(self, device_id, start_index, records_to_return, **kwargs):  # noqa: E501
        """Retrieves device interfaces in the given range  # noqa: E501

        Gets the list of interfaces for the device for the specified range  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_start_index_records_to_return_get(device_id, start_index, records_to_return, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :param int start_index: Start index (required)
        :param int records_to_return: Number of records to return (required)
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_network_device_device_id_start_index_records_to_return_get_with_http_info(device_id, start_index, records_to_return, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_network_device_device_id_start_index_records_to_return_get_with_http_info(device_id, start_index, records_to_return, **kwargs)  # noqa: E501
            return data

    def api_v1_interface_network_device_device_id_start_index_records_to_return_get_with_http_info(self, device_id, start_index, records_to_return, **kwargs):  # noqa: E501
        """Retrieves device interfaces in the given range  # noqa: E501

        Gets the list of interfaces for the device for the specified range  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_network_device_device_id_start_index_records_to_return_get_with_http_info(device_id, start_index, records_to_return, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Device ID (required)
        :param int start_index: Start index (required)
        :param int records_to_return: Number of records to return (required)
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['device_id', 'start_index', 'records_to_return']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_network_device_device_id_start_index_records_to_return_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in local_var_params or
                local_var_params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `api_v1_interface_network_device_device_id_start_index_records_to_return_get`")  # noqa: E501
        # verify the required parameter 'start_index' is set
        if ('start_index' not in local_var_params or
                local_var_params['start_index'] is None):
            raise ValueError("Missing the required parameter `start_index` when calling `api_v1_interface_network_device_device_id_start_index_records_to_return_get`")  # noqa: E501
        # verify the required parameter 'records_to_return' is set
        if ('records_to_return' not in local_var_params or
                local_var_params['records_to_return'] is None):
            raise ValueError("Missing the required parameter `records_to_return` when calling `api_v1_interface_network_device_device_id_start_index_records_to_return_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_id' in local_var_params:
            path_params['deviceId'] = local_var_params['device_id']  # noqa: E501
        if 'start_index' in local_var_params:
            path_params['startIndex'] = local_var_params['start_index']  # noqa: E501
        if 'records_to_return' in local_var_params:
            path_params['recordsToReturn'] = local_var_params['records_to_return']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/network-device/{deviceId}/{startIndex}/{recordsToReturn}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_interface_ospf_get(self, **kwargs):  # noqa: E501
        """Retrieves OSPF interfaces  # noqa: E501

        Gets the interfaces that has OSPF enabled  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_ospf_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_interface_ospf_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_interface_ospf_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_interface_ospf_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves OSPF interfaces  # noqa: E501

        Gets the interfaces that has OSPF enabled  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_interface_ospf_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: DeviceIfListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_interface_ospf_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/interface/ospf', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceIfListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_autocomplete_get(self, **kwargs):  # noqa: E501
        """Retrieves all network devices  # noqa: E501

        Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id's and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_autocomplete_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vrf_name: vrfName
        :param str management_ip_address: managementIpAddress
        :param str hostname: hostname
        :param str mac_address: macAddress
        :param str family: family
        :param str collection_status: collectionStatus
        :param str collection_interval: collectionInterval
        :param str software_version: softwareVersion
        :param str software_type: softwareType
        :param str reachability_status: reachabilityStatus
        :param str reachability_failure_reason: reachabilityFailureReason
        :param str error_code: errorCode
        :param str platform_id: platformId
        :param str series: series
        :param str type: type
        :param str serial_number: serialNumber
        :param str up_time: upTime
        :param str role: role
        :param str role_source: roleSource
        :param str associated_wlc_ip: associatedWlcIp
        :param str offset: offset
        :param str limit: limit
        :return: RetrievesAllNetworkDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_autocomplete_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_autocomplete_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_autocomplete_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all network devices  # noqa: E501

        Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id's and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_autocomplete_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vrf_name: vrfName
        :param str management_ip_address: managementIpAddress
        :param str hostname: hostname
        :param str mac_address: macAddress
        :param str family: family
        :param str collection_status: collectionStatus
        :param str collection_interval: collectionInterval
        :param str software_version: softwareVersion
        :param str software_type: softwareType
        :param str reachability_status: reachabilityStatus
        :param str reachability_failure_reason: reachabilityFailureReason
        :param str error_code: errorCode
        :param str platform_id: platformId
        :param str series: series
        :param str type: type
        :param str serial_number: serialNumber
        :param str up_time: upTime
        :param str role: role
        :param str role_source: roleSource
        :param str associated_wlc_ip: associatedWlcIp
        :param str offset: offset
        :param str limit: limit
        :return: RetrievesAllNetworkDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['vrf_name', 'management_ip_address', 'hostname', 'mac_address', 'family', 'collection_status', 'collection_interval', 'software_version', 'software_type', 'reachability_status', 'reachability_failure_reason', 'error_code', 'platform_id', 'series', 'type', 'serial_number', 'up_time', 'role', 'role_source', 'associated_wlc_ip', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_autocomplete_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'vrf_name' in local_var_params:
            query_params.append(('vrfName', local_var_params['vrf_name']))  # noqa: E501
        if 'management_ip_address' in local_var_params:
            query_params.append(('managementIpAddress', local_var_params['management_ip_address']))  # noqa: E501
        if 'hostname' in local_var_params:
            query_params.append(('hostname', local_var_params['hostname']))  # noqa: E501
        if 'mac_address' in local_var_params:
            query_params.append(('macAddress', local_var_params['mac_address']))  # noqa: E501
        if 'family' in local_var_params:
            query_params.append(('family', local_var_params['family']))  # noqa: E501
        if 'collection_status' in local_var_params:
            query_params.append(('collectionStatus', local_var_params['collection_status']))  # noqa: E501
        if 'collection_interval' in local_var_params:
            query_params.append(('collectionInterval', local_var_params['collection_interval']))  # noqa: E501
        if 'software_version' in local_var_params:
            query_params.append(('softwareVersion', local_var_params['software_version']))  # noqa: E501
        if 'software_type' in local_var_params:
            query_params.append(('softwareType', local_var_params['software_type']))  # noqa: E501
        if 'reachability_status' in local_var_params:
            query_params.append(('reachabilityStatus', local_var_params['reachability_status']))  # noqa: E501
        if 'reachability_failure_reason' in local_var_params:
            query_params.append(('reachabilityFailureReason', local_var_params['reachability_failure_reason']))  # noqa: E501
        if 'error_code' in local_var_params:
            query_params.append(('errorCode', local_var_params['error_code']))  # noqa: E501
        if 'platform_id' in local_var_params:
            query_params.append(('platformId', local_var_params['platform_id']))  # noqa: E501
        if 'series' in local_var_params:
            query_params.append(('series', local_var_params['series']))  # noqa: E501
        if 'type' in local_var_params:
            query_params.append(('type', local_var_params['type']))  # noqa: E501
        if 'serial_number' in local_var_params:
            query_params.append(('serialNumber', local_var_params['serial_number']))  # noqa: E501
        if 'up_time' in local_var_params:
            query_params.append(('upTime', local_var_params['up_time']))  # noqa: E501
        if 'role' in local_var_params:
            query_params.append(('role', local_var_params['role']))  # noqa: E501
        if 'role_source' in local_var_params:
            query_params.append(('roleSource', local_var_params['role_source']))  # noqa: E501
        if 'associated_wlc_ip' in local_var_params:
            query_params.append(('associatedWlcIp', local_var_params['associated_wlc_ip']))  # noqa: E501
        if 'offset' in local_var_params:
            query_params.append(('offset', local_var_params['offset']))  # noqa: E501
        if 'limit' in local_var_params:
            query_params.append(('limit', local_var_params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/autocomplete', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RetrievesAllNetworkDevicesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_brief_put(self, network_device_brief_nio, **kwargs):  # noqa: E501
        """Updates network device role  # noqa: E501

        Updates the role of the device as access, core, distribution, border router  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_brief_put(network_device_brief_nio, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NetworkDeviceBriefNIO network_device_brief_nio: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_brief_put_with_http_info(network_device_brief_nio, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_brief_put_with_http_info(network_device_brief_nio, **kwargs)  # noqa: E501
            return data

    def api_v1_network_device_brief_put_with_http_info(self, network_device_brief_nio, **kwargs):  # noqa: E501
        """Updates network device role  # noqa: E501

        Updates the role of the device as access, core, distribution, border router  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_brief_put_with_http_info(network_device_brief_nio, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NetworkDeviceBriefNIO network_device_brief_nio: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['network_device_brief_nio']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_brief_put" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'network_device_brief_nio' is set
        if ('network_device_brief_nio' not in local_var_params or
                local_var_params['network_device_brief_nio'] is None):
            raise ValueError("Missing the required parameter `network_device_brief_nio` when calling `api_v1_network_device_brief_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'network_device_brief_nio' in local_var_params:
            body_params = local_var_params['network_device_brief_nio']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/brief', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_collection_schedule_global_get(self, **kwargs):  # noqa: E501
        """Retrieves the collection interval of all devices  # noqa: E501

        Retrieves collection interval of all devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_collection_schedule_global_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_collection_schedule_global_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_collection_schedule_global_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_collection_schedule_global_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves the collection interval of all devices  # noqa: E501

        Retrieves collection interval of all devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_collection_schedule_global_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_collection_schedule_global_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/collection-schedule/global', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_config_count_get(self, **kwargs):  # noqa: E501
        """Retrieves config count  # noqa: E501

        Gets the count of device configs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_config_count_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_config_count_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_config_count_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_config_count_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves config count  # noqa: E501

        Gets the count of device configs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_config_count_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_config_count_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/config/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_config_get(self, **kwargs):  # noqa: E501
        """Retrieves device config list  # noqa: E501

        Gets the config for all devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_config_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: RawCliInfoNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_config_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_config_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_config_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves device config list  # noqa: E501

        Gets the config for all devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_config_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: RawCliInfoNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_config_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/config', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RawCliInfoNIOListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_count_get(self, **kwargs):  # noqa: E501
        """Retrieves network device count  # noqa: E501

        Gets the count of network devices filtered by management IP address, mac address, hostname and location name  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_count_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_count_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_count_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_count_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves network device count  # noqa: E501

        Gets the count of network devices filtered by management IP address, mac address, hostname and location name  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_count_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_count_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_file_post(self, export_device_dto, **kwargs):  # noqa: E501
        """Export network-device to file  # noqa: E501

        Export the selected network-device to a file  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_file_post(export_device_dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExportDeviceDTO export_device_dto: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_file_post_with_http_info(export_device_dto, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_file_post_with_http_info(export_device_dto, **kwargs)  # noqa: E501
            return data

    def api_v1_network_device_file_post_with_http_info(self, export_device_dto, **kwargs):  # noqa: E501
        """Export network-device to file  # noqa: E501

        Export the selected network-device to a file  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_file_post_with_http_info(export_device_dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExportDeviceDTO export_device_dto: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['export_device_dto']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_file_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'export_device_dto' is set
        if ('export_device_dto' not in local_var_params or
                local_var_params['export_device_dto'] is None):
            raise ValueError("Missing the required parameter `export_device_dto` when calling `api_v1_network_device_file_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'export_device_dto' in local_var_params:
            body_params = local_var_params['export_device_dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_functional_capability_autocomplete_get(self, **kwargs):  # noqa: E501
        """Retrieve the values of given fields  # noqa: E501

        Gets the field values based on given filter  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_functional_capability_autocomplete_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] function_name: functionName
        :return: SuccessResultList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_functional_capability_autocomplete_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_functional_capability_autocomplete_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_functional_capability_autocomplete_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve the values of given fields  # noqa: E501

        Gets the field values based on given filter  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_functional_capability_autocomplete_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] function_name: functionName
        :return: SuccessResultList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['function_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_functional_capability_autocomplete_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'function_name' in local_var_params:
            query_params.append(('functionName', local_var_params['function_name']))  # noqa: E501
            collection_formats['functionName'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/functional-capability/autocomplete', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessResultList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_functional_capability_get(self, **kwargs):  # noqa: E501
        """Retrieves all functional-capability of devices  # noqa: E501

        Gets the functional-capability for given devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_functional_capability_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Accepts comma separated deviceid's and return list of functional-capabilities for the given id's. If invalid or not-found id's are provided, null entry will be returned in the list.
        :param list[str] function_name: functionName
        :return: FunctionalCapabilityListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_functional_capability_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_functional_capability_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_functional_capability_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all functional-capability of devices  # noqa: E501

        Gets the functional-capability for given devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_functional_capability_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: Accepts comma separated deviceid's and return list of functional-capabilities for the given id's. If invalid or not-found id's are provided, null entry will be returned in the list.
        :param list[str] function_name: functionName
        :return: FunctionalCapabilityListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['device_id', 'function_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_functional_capability_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_id' in local_var_params:
            query_params.append(('deviceId', local_var_params['device_id']))  # noqa: E501
        if 'function_name' in local_var_params:
            query_params.append(('functionName', local_var_params['function_name']))  # noqa: E501
            collection_formats['functionName'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/functional-capability', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FunctionalCapabilityListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_functional_capability_id_get(self, id, **kwargs):  # noqa: E501
        """Gets the functional capability by id  # noqa: E501

        Retrieve functional capability with given id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_functional_capability_id_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Device ID (required)
        :return: FunctionalCapabilityResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_functional_capability_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_functional_capability_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_network_device_functional_capability_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Gets the functional capability by id  # noqa: E501

        Retrieve functional capability with given id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_functional_capability_id_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Device ID (required)
        :return: FunctionalCapabilityResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_functional_capability_id_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in local_var_params or
                local_var_params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_network_device_functional_capability_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/network-device/functional-capability/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FunctionalCapabilityResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_network_device_get(self, **kwargs):  # noqa: E501
        """Retrieves all network devices  # noqa: E501

        Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id's and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] hostname: hostname
        :param list[str] management_ip_address: managementIpAddress
        :param list[str] mac_address: macAddress
        :param list[str] location_name: locationName
        :param list[str] serial_number: serialNumber
        :param list[str] location: location
        :param list[str] family: family
        :param list[str] type: type
        :param list[str] series: series
        :param list[str] collection_status: collectionStatus
        :param list[str] collection_interval: collectionInterval
        :param list[str] not_synced_for_minutes: notSyncedForMinutes
        :param list[str] error_code: errorCode
        :param list[str] error_description: errorDescription
        :param list[str] software_version: softwareVersion
        :param list[str] software_type: softwareType
        :param list[str] platform_id: platformId
        :param list[str] role: role
        :param list[str] reachability_status: reachabilityStatus
        :param list[str] up_time: upTime
        :param list[str] associated_wlc_ip: associatedWlcIp
        :param list[str] license_name: licenseName
        :param list[str] license_type: licenseType
        :param list[str] license_status: licenseStatus
        :param list[str] modulename: moduleName
        :param list[str] moduleequpimenttype: moduleEqupimentType
        :param list[str] moduleservicestate: moduleServiceState
        :param list[str] modulevendorequipmenttype: moduleVendorEquipmentType
        :param list[str] modulepartnumber: modulePartNumber
        :param list[str] moduleoperationstatecode: moduleOperationStateCode
        :param str id: Accepts comma separated id's and return list of network-devices for the given id's. If invalid or not-found id's are provided, null entry will be returned in the list.
        :return: NetworkDeviceListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_network_device_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_network_device_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_network_device_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all network devices  # noqa: E501

        Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id's and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_network_device_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] hostname: hostname
        :param list[str] management_ip_address: managementIpAddress
        :param list[str] mac_address: macAddress
        :param list[str] location_name: locationName
        :param list[str] serial_number: serialNumber
        :param list[str] location: location
        :param list[str] family: family
        :param list[str] type: type
        :param list[str] series: series
        :param list[str] collection_status: collectionStatus
        :param list[str] collection_interval: collectionInterval
        :param list[str] not_synced_for_minutes: notSyncedForMinutes
        :param list[str] error_code: errorCode
        :param list[str] error_description: errorDescription
        :param list[str] software_version: softwareVersion
        :param list[str] software_type: softwareType
        :param list[str] platform_id: platformId
        :param list[str] role: role
        :param list[str] reachability_status: reachabilityStatus
        :param list[str] up_time: upTime
        :param list[str] associated_wlc_ip: associatedWlcIp
        :param list[str] license_name: licenseName
        :param list[str] license_type: licenseType
        :param list[str] license_status: licenseStatus
        :param list[str] modulename: moduleName
        :param list[str] moduleequpimenttype: moduleEqupimentType
        :param list[str] moduleservicestate: moduleServiceState
        :param list[str] modulevendorequipmenttype: moduleVendorEquipmentType
        :param list[str] modulepartnumber: modulePartNumber
        :param list[str] moduleoperationstatecode: moduleOperationStateCode
        :param str id: Accepts comma separated id's and return list of network-devices for the given id's. If invalid or not-found id's are provided, null entry will be returned in the list.
        :return: NetworkDeviceListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['hostname', 'management_ip_address', 'mac_address', 'location_name', 'serial_number', 'location', 'family', 'type', 'series', 'collection_status', 'collection_interval', 'not_synced_for_minutes', 'error_code', 'error_description', 'software_version', 'software_type', 'platform_id', 'role', 'reachability_status', 'up_time', 'associated_wlc_ip', 'license_name', 'license_type', 'license_status', 'modulename', 'moduleequpimenttype', 'moduleservicestate', 'modulevendorequipmenttype', 'modulepartnumber', 'moduleoperationstatecode', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_network_device_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'hostname' in local_var_params:
            query_params.append(('hostname', local_var_params['hostname']))  # noqa: E501
            collection_formats['hostname'] = 'csv'  # noqa: E501
        if 'management_ip_address' in local_var_params:
            query_params.append(('managementIpAddress', local_var_params['management_ip_address']))  # noqa: E501
            collection_formats['managementIpAddress'] = 'csv'  # noqa: E501
        if 'mac_address' in local_var_params:
            query_params.append(('macAddress', local_var_params['mac_address']))  # noqa: E501
            collection_formats['macAddress'] = 'csv'  # noqa: E501
        if 'location_name' in local_var_params:
            query_params.append(('locationName', local_var_params['location_name']))  # noqa: E501
            collection_formats['locationName'] = 'csv'  # noqa: E501
        if 'serial_number' in local_var_params:
            query_params.append(('serialNumber', local_var_params['serial_number']))  # noqa: E501
            collection_formats['serialNumber'] = 'csv'  # noqa: E501
        if 'location' in local_var_params:
            query_params.append(('location', local_var_params['location']))  # noqa: E501
            collection_formats['location'] = 'csv'  # noqa: E501
        if 'family' in local_var_params:
            query_params.append(('family', local_var_params['family']))  # noqa: E501
            collection_formats['family'] = 'csv'  # noqa: E501
        if 'type' in local_var_params:
            query_params.append(('type', local_var_params['type']))  # noqa: E501
            collection_formats['type'] = 'csv'  # noqa: E501
        if 'series' in local_var_params:
            query_params.append(('series', local_var_params['series']))  # noqa: E501
            collection_formats['series'] = 'csv'  # noqa: E501
        if 'collection_status' in local_var_params:
            query_params.append(('collectionStatus', local_var_params['collection_status']))  # noqa: E501
            collection_formats['collectionStatus'] = 'csv'  # noqa: E501
        if 'collection_interval' in local_var_params:
            query_params.append(('collectionInterval', local_var_params['collection_interval']))  # noqa: E501
            collection_formats['collectionInterval'] = 'csv'  # noqa: E501
        if 'not_synced_for_minutes' in local_var_params:
            query_params.append(('notSyncedForMinutes', local_var_params['not_synced_for_minutes']))  # noqa: E501
            collection_formats['notSyncedForMinutes'] = 'csv'  # noqa: E501
        if 'error_code' in local_var_params:
            query_params.append(('errorCode', local_var_params['error_code']))  # noqa: E501
            collection_formats['errorCode'] = 'csv'  # noqa: E501
        if 'error_description' in local_var_params:
            query_params.append(('errorDescription', local_var_params['error_description']))  # noqa: E501
            collection_formats['errorDescription'] = 'csv'  # noqa: E501
        if 'software_version' in local_var_params:
            query_params.append(('softwareVersion', local_var_params['software_version']))  # noqa: E501
            collection_formats['softwareVersion'] = 'csv'  # noqa: E501
        if 'software_type' in local_var_params:
            query_params.append(('softwareType', local_var_params['software_type']))  # noqa: E501
            collection_formats['softwareType'] = 'csv'  # noqa: E501
        if 'platform_id' in local_var_params:
            query_params.append(('platformId', local_var_params['platform_id']))  # noqa: E501
            collection_formats['platformId'] = 'csv'  # noqa: E501
        if 'role' in local_var_params:
            query_params.append(('role', local_var_params['role']))  # noqa: E501
            collection_formats['role'] = 'csv'  # noqa: E501
        if 'reachability_status' in local_var_params:
            query_params.append(('reachabilityStatus', local_var_params['reachability_status']))  # noqa: E501
            collection_formats['reachabilityStatus'] = 'csv'  # noqa: E501
        if 'up_time' in local_var_params:
            query_params.append(('upTime', local_var_params['up_time']))  # noqa: E501
            collection_formats['upTime'] = 'csv'  # noqa: E501
        if 'associated_wlc_ip' in local_var_params:
            query_params.append(('associatedWlcIp', local_var_params['associated_wlc_ip']))  # noqa: E501
            collection_formats['associatedWlcIp'] = 'csv'  # noqa: E501
        if 'license_name' in local_var_params:
            query_params.append(('license.name', local_var_params['license_name']))  # noqa: E501
            collection_formats['license.name'] = 'csv'  # noqa: E501
        if 'license_type' in local_var_params:
            query_params.append(('license.type', local_var_params['license_type']))  # noqa: E501
            collection_formats['license.type'] = 'csv'  # noqa: E501
        if 'license_status' in local_var_params:
            query_params.append(('license.status', local_var_params['license_status']))  # noqa: E501
            collection_formats['license.status'] = 'csv'  # noqa: E501
        if 'modulename' in local_var_params:
            query_params.append(('module+name', local_var_params['modulename']))  # noqa: E501
            collection_formats['module+name'] = 'csv'  # noqa: E501
        if 'moduleequpimenttype' in local_var_params:
            query_params.append(('module+equpimenttype', local_var_params['moduleequpimenttype']))  # noqa: E501
            collection_formats['module+equpimenttype'] = 'csv'  # noqa: E501
        if 'moduleservicestate' in local_var_params:
            query_params.append(('module+servicestate', local_var_params['moduleservicestate']))  # noqa: E501
            collection_formats['module+servicestate'] = 'csv'  # noqa: E501
        if 'modulevendorequipmenttype' in local_var_params:
            query_params.append(('module+vendorequipmenttype', local_var_params['modulevendorequipmenttype']))  # noqa: E501
            collection_formats['module+vendorequipmenttype'] = 'csv'  # noqa: E501
        if 'modulepartnumber' in local_var_params:
            query_params.append(('module+partnumber', local_var_params['modulepartnumber']))  # noqa: E501
            collection_formats['module+partnumber'] = 'csv'  # noqa: E501
        if 'moduleoperationstatecode' in local_var_params:
            query_params.append(('module+operationstatecode', local_var_params['moduleoperationstatecode']))  # noqa: E501
            collection_formats['module+operationstatecode'] = 'csv'  # noqa: E501
        if 'id' in local_var_params:
            query_params.append(('id', local_var_params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

[...]
