# coding: utf-8

"""
    Cisco DNA Center Platform v. 1.2.x (EFT)

    REST API (EFT)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dnac_api_client.api_client import ApiClient


class NetworkDiscoveryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_discovery_count_get(self, **kwargs):  # noqa: E501
        """Retrieves the number of discoveries  # noqa: E501

        Gets the count of all available discovery jobs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_count_get(async=True)
        >>> result = thread.get()

        :param async bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_count_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_count_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_discovery_count_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves the number of discoveries  # noqa: E501

        Gets the count of all available discovery jobs  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_count_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_count_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_delete(self, **kwargs):  # noqa: E501
        """Deletes all discovery  # noqa: E501

        Stops all the discoveries and removes them  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_delete(async=True)
        >>> result = thread.get()

        :param async bool
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_delete_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_delete_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_discovery_delete_with_http_info(self, **kwargs):  # noqa: E501
        """Deletes all discovery  # noqa: E501

        Stops all the discoveries and removes them  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_delete_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_delete" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_auto_complete_get(self, id, **kwargs):  # noqa: E501
        """Retrieve autoComplete values from a discovery based on id  # noqa: E501

        Gets the autoComplete values from a discovery job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_auto_complete_get(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: id (required)
        :param str task_id: taskId
        :param str ip_address: ipAddress
        :param str ping_status: pingStatus
        :param str snmp_status: snmpStatus
        :param str cli_status: cliStatus
        :param str netconf_status: netconfStatus
        :param str http_status: httpStatus
        :return: SuccessResultList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_auto_complete_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_auto_complete_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_auto_complete_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieve autoComplete values from a discovery based on id  # noqa: E501

        Gets the autoComplete values from a discovery job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_auto_complete_get_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: id (required)
        :param str task_id: taskId
        :param str ip_address: ipAddress
        :param str ping_status: pingStatus
        :param str snmp_status: snmpStatus
        :param str cli_status: cliStatus
        :param str netconf_status: netconfStatus
        :param str http_status: httpStatus
        :return: SuccessResultList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'task_id', 'ip_address', 'ping_status', 'snmp_status', 'cli_status', 'netconf_status', 'http_status']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_auto_complete_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_auto_complete_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501
        if 'ip_address' in params:
            query_params.append(('ipAddress', params['ip_address']))  # noqa: E501
        if 'ping_status' in params:
            query_params.append(('pingStatus', params['ping_status']))  # noqa: E501
        if 'snmp_status' in params:
            query_params.append(('snmpStatus', params['snmp_status']))  # noqa: E501
        if 'cli_status' in params:
            query_params.append(('cliStatus', params['cli_status']))  # noqa: E501
        if 'netconf_status' in params:
            query_params.append(('netconfStatus', params['netconf_status']))  # noqa: E501
        if 'http_status' in params:
            query_params.append(('httpStatus', params['http_status']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}/autoComplete', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessResultList',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_delete(self, id, **kwargs):  # noqa: E501
        """Deletes the discovery specified by id  # noqa: E501

        Stops the discovery for the given ID and removes it  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_delete(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_delete_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_delete_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_delete_with_http_info(self, id, **kwargs):  # noqa: E501
        """Deletes the discovery specified by id  # noqa: E501

        Stops the discovery for the given ID and removes it  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_delete_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_get(self, id, **kwargs):  # noqa: E501
        """Retrieves the discovery specified by id  # noqa: E501

        Gets discovery by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_get(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :return: DiscoveryNIOResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves the discovery specified by id  # noqa: E501

        Gets discovery by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_get_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :return: DiscoveryNIOResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiscoveryNIOResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_job_get(self, id, **kwargs):  # noqa: E501
        """Retrieves list of discovery jobs for the specified discovery id  # noqa: E501

        Gets the list of discovery jobs for the given id. The result can optionally be filtered based on IP  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_job_get(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :param int offset: offset
        :param int limit: limit
        :param str ip_address: ipAddress
        :return: DiscoveryJobNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_job_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_job_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_job_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves list of discovery jobs for the specified discovery id  # noqa: E501

        Gets the list of discovery jobs for the given id. The result can optionally be filtered based on IP  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_job_get_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :param int offset: offset
        :param int limit: limit
        :param str ip_address: ipAddress
        :return: DiscoveryJobNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'offset', 'limit', 'ip_address']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_job_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_job_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'ip_address' in params:
            query_params.append(('ipAddress', params['ip_address']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}/job', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiscoveryJobNIOListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_network_device_count_get(self, id, **kwargs):  # noqa: E501
        """Retrieves the number of network devices discovered in the discovery specified by id  # noqa: E501

        Gets the count of network devices discovered in the given discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_network_device_count_get(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :param str task_id: taskId
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_network_device_count_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_network_device_count_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_network_device_count_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves the number of network devices discovered in the discovery specified by id  # noqa: E501

        Gets the count of network devices discovered in the given discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_network_device_count_get_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :param str task_id: taskId
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'task_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_network_device_count_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_network_device_count_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}/network-device/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_network_device_get(self, id, **kwargs):  # noqa: E501
        """Retrieves the network devices discovered in the discovery specified by id  # noqa: E501

        Gets the network devices discovered for the given discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_network_device_get(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: id (required)
        :param str task_id: taskId
        :return: NetworkDeviceNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_network_device_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_network_device_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_network_device_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves the network devices discovered in the discovery specified by id  # noqa: E501

        Gets the network devices discovered for the given discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_network_device_get_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: id (required)
        :param str task_id: taskId
        :return: NetworkDeviceNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'task_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_network_device_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_network_device_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}/network-device', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NetworkDeviceNIOListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_network_device_start_index_records_to_return_get(self, id, start_index, records_to_return, **kwargs):  # noqa: E501
        """Retrieves the range of network devices discovered for the given discovery  # noqa: E501

        Gets the network devices discovered for the given discovery and for the given range. The maximum number of records that could be retrieved is 500  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_network_device_start_index_records_to_return_get(id, start_index, records_to_return, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :param int start_index: Start index (required)
        :param int records_to_return: Number of records to return (required)
        :param str task_id: taskId
        :return: NetworkDeviceNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_network_device_start_index_records_to_return_get_with_http_info(id, start_index, records_to_return, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_network_device_start_index_records_to_return_get_with_http_info(id, start_index, records_to_return, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_network_device_start_index_records_to_return_get_with_http_info(self, id, start_index, records_to_return, **kwargs):  # noqa: E501
        """Retrieves the range of network devices discovered for the given discovery  # noqa: E501

        Gets the network devices discovered for the given discovery and for the given range. The maximum number of records that could be retrieved is 500  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_network_device_start_index_records_to_return_get_with_http_info(id, start_index, records_to_return, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: Discovery ID (required)
        :param int start_index: Start index (required)
        :param int records_to_return: Number of records to return (required)
        :param str task_id: taskId
        :return: NetworkDeviceNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'start_index', 'records_to_return', 'task_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_network_device_start_index_records_to_return_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_network_device_start_index_records_to_return_get`")  # noqa: E501
        # verify the required parameter 'start_index' is set
        if ('start_index' not in params or
                params['start_index'] is None):
            raise ValueError("Missing the required parameter `start_index` when calling `api_v1_discovery_id_network_device_start_index_records_to_return_get`")  # noqa: E501
        # verify the required parameter 'records_to_return' is set
        if ('records_to_return' not in params or
                params['records_to_return'] is None):
            raise ValueError("Missing the required parameter `records_to_return` when calling `api_v1_discovery_id_network_device_start_index_records_to_return_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'start_index' in params:
            path_params['startIndex'] = params['start_index']  # noqa: E501
        if 'records_to_return' in params:
            path_params['recordsToReturn'] = params['records_to_return']  # noqa: E501

        query_params = []
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}/network-device/{startIndex}/{recordsToReturn}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NetworkDeviceNIOListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_id_summary_get(self, id, **kwargs):  # noqa: E501
        """Retrieve network devices from a discovery on given filters  # noqa: E501

        Gets the network devices from a discovery job based on given filters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_summary_get(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: id (required)
        :param str task_id: taskId
        :param str sort_by: sortBy
        :param str sort_order: sortOrder
        :param list[str] ip_address: ipAddress
        :param list[str] ping_status: pingStatus
        :param list[str] snmp_status: snmpStatus
        :param list[str] cli_status: cliStatus
        :param list[str] netconf_status: netconfStatus
        :param list[str] http_status: httpStatus
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_id_summary_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_id_summary_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_id_summary_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieve network devices from a discovery on given filters  # noqa: E501

        Gets the network devices from a discovery job based on given filters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_id_summary_get_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: id (required)
        :param str task_id: taskId
        :param str sort_by: sortBy
        :param str sort_order: sortOrder
        :param list[str] ip_address: ipAddress
        :param list[str] ping_status: pingStatus
        :param list[str] snmp_status: snmpStatus
        :param list[str] cli_status: cliStatus
        :param list[str] netconf_status: netconfStatus
        :param list[str] http_status: httpStatus
        :return: CountResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'task_id', 'sort_by', 'sort_order', 'ip_address', 'ping_status', 'snmp_status', 'cli_status', 'netconf_status', 'http_status']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_id_summary_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_discovery_id_summary_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'ip_address' in params:
            query_params.append(('ipAddress', params['ip_address']))  # noqa: E501
            collection_formats['ipAddress'] = 'csv'  # noqa: E501
        if 'ping_status' in params:
            query_params.append(('pingStatus', params['ping_status']))  # noqa: E501
            collection_formats['pingStatus'] = 'csv'  # noqa: E501
        if 'snmp_status' in params:
            query_params.append(('snmpStatus', params['snmp_status']))  # noqa: E501
            collection_formats['snmpStatus'] = 'csv'  # noqa: E501
        if 'cli_status' in params:
            query_params.append(('cliStatus', params['cli_status']))  # noqa: E501
            collection_formats['cliStatus'] = 'csv'  # noqa: E501
        if 'netconf_status' in params:
            query_params.append(('netconfStatus', params['netconf_status']))  # noqa: E501
            collection_formats['netconfStatus'] = 'csv'  # noqa: E501
        if 'http_status' in params:
            query_params.append(('httpStatus', params['http_status']))  # noqa: E501
            collection_formats['httpStatus'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{id}/summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CountResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_job_get(self, ip_address, **kwargs):  # noqa: E501
        """Retrieves the list of discovery jobs for the given IP  # noqa: E501

        Gets the list of discovery jobs for the given IP  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_job_get(ip_address, async=True)
        >>> result = thread.get()

        :param async bool
        :param str ip_address: ipAddress (required)
        :param int offset: offset
        :param int limit: limit
        :param str name: name
        :return: DiscoveryJobNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_job_get_with_http_info(ip_address, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_job_get_with_http_info(ip_address, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_job_get_with_http_info(self, ip_address, **kwargs):  # noqa: E501
        """Retrieves the list of discovery jobs for the given IP  # noqa: E501

        Gets the list of discovery jobs for the given IP  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_job_get_with_http_info(ip_address, async=True)
        >>> result = thread.get()

        :param async bool
        :param str ip_address: ipAddress (required)
        :param int offset: offset
        :param int limit: limit
        :param str name: name
        :return: DiscoveryJobNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ip_address', 'offset', 'limit', 'name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_job_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ip_address' is set
        if ('ip_address' not in params or
                params['ip_address'] is None):
            raise ValueError("Missing the required parameter `ip_address` when calling `api_v1_discovery_job_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'ip_address' in params:
            query_params.append(('ipAddress', params['ip_address']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/job', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiscoveryJobNIOListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_post(self, request, **kwargs):  # noqa: E501
        """Starts a new discovery process and returns a task-id  # noqa: E501

        Initiates discovery with the given parameters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_post(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param InventoryRequest request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_post_with_http_info(request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_post_with_http_info(request, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_post_with_http_info(self, request, **kwargs):  # noqa: E501
        """Starts a new discovery process and returns a task-id  # noqa: E501

        Initiates discovery with the given parameters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_post_with_http_info(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param InventoryRequest request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `api_v1_discovery_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_put(self, request, **kwargs):  # noqa: E501
        """Updates an existing discovery specified by id - only for starting/stopping the discovery  # noqa: E501

        Stops or starts an existing discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_put(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param DiscoveryNIO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_put_with_http_info(request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_put_with_http_info(request, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_put_with_http_info(self, request, **kwargs):  # noqa: E501
        """Updates an existing discovery specified by id - only for starting/stopping the discovery  # noqa: E501

        Stops or starts an existing discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_put_with_http_info(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param DiscoveryNIO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `api_v1_discovery_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_start_index_records_to_delete_delete(self, start_index, records_to_delete, **kwargs):  # noqa: E501
        """Deletes the discovery in the given range  # noqa: E501

        Stops discovery for the given range and removes them  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_start_index_records_to_delete_delete(start_index, records_to_delete, async=True)
        >>> result = thread.get()

        :param async bool
        :param int start_index: Start index (required)
        :param int records_to_delete: Number of records to delete (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_start_index_records_to_delete_delete_with_http_info(start_index, records_to_delete, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_start_index_records_to_delete_delete_with_http_info(start_index, records_to_delete, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_start_index_records_to_delete_delete_with_http_info(self, start_index, records_to_delete, **kwargs):  # noqa: E501
        """Deletes the discovery in the given range  # noqa: E501

        Stops discovery for the given range and removes them  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_start_index_records_to_delete_delete_with_http_info(start_index, records_to_delete, async=True)
        >>> result = thread.get()

        :param async bool
        :param int start_index: Start index (required)
        :param int records_to_delete: Number of records to delete (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_index', 'records_to_delete']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_start_index_records_to_delete_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start_index' is set
        if ('start_index' not in params or
                params['start_index'] is None):
            raise ValueError("Missing the required parameter `start_index` when calling `api_v1_discovery_start_index_records_to_delete_delete`")  # noqa: E501
        # verify the required parameter 'records_to_delete' is set
        if ('records_to_delete' not in params or
                params['records_to_delete'] is None):
            raise ValueError("Missing the required parameter `records_to_delete` when calling `api_v1_discovery_start_index_records_to_delete_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'start_index' in params:
            path_params['startIndex'] = params['start_index']  # noqa: E501
        if 'records_to_delete' in params:
            path_params['recordsToDelete'] = params['records_to_delete']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{startIndex}/{recordsToDelete}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_discovery_start_index_records_to_return_get(self, start_index, records_to_return, **kwargs):  # noqa: E501
        """Retrieves the discovery in the given range  # noqa: E501

        Gets the discovery for the range specified  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_start_index_records_to_return_get(start_index, records_to_return, async=True)
        >>> result = thread.get()

        :param async bool
        :param int start_index: Start index (required)
        :param int records_to_return: Number of records to return (required)
        :return: DiscoveryNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_discovery_start_index_records_to_return_get_with_http_info(start_index, records_to_return, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_discovery_start_index_records_to_return_get_with_http_info(start_index, records_to_return, **kwargs)  # noqa: E501
            return data

    def api_v1_discovery_start_index_records_to_return_get_with_http_info(self, start_index, records_to_return, **kwargs):  # noqa: E501
        """Retrieves the discovery in the given range  # noqa: E501

        Gets the discovery for the range specified  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_discovery_start_index_records_to_return_get_with_http_info(start_index, records_to_return, async=True)
        >>> result = thread.get()

        :param async bool
        :param int start_index: Start index (required)
        :param int records_to_return: Number of records to return (required)
        :return: DiscoveryNIOListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_index', 'records_to_return']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_discovery_start_index_records_to_return_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start_index' is set
        if ('start_index' not in params or
                params['start_index'] is None):
            raise ValueError("Missing the required parameter `start_index` when calling `api_v1_discovery_start_index_records_to_return_get`")  # noqa: E501
        # verify the required parameter 'records_to_return' is set
        if ('records_to_return' not in params or
                params['records_to_return'] is None):
            raise ValueError("Missing the required parameter `records_to_return` when calling `api_v1_discovery_start_index_records_to_return_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'start_index' in params:
            path_params['startIndex'] = params['start_index']  # noqa: E501
        if 'records_to_return' in params:
            path_params['recordsToReturn'] = params['records_to_return']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/discovery/{startIndex}/{recordsToReturn}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiscoveryNIOListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_cli_post(self, request, **kwargs):  # noqa: E501
        """Creates global CLI credential  # noqa: E501

        This method is used to add global CLI credential  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_cli_post(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param CLICredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_cli_post_with_http_info(request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_cli_post_with_http_info(request, **kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_cli_post_with_http_info(self, request, **kwargs):  # noqa: E501
        """Creates global CLI credential  # noqa: E501

        This method is used to add global CLI credential  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_cli_post_with_http_info(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param CLICredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_global_credential_cli_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `api_v1_global_credential_cli_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/global-credential/cli', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_cli_put(self, request, **kwargs):  # noqa: E501
        """Updates global CLI credential  # noqa: E501

        This method is used to update global CLI credential  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_cli_put(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param CLICredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_cli_put_with_http_info(request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_cli_put_with_http_info(request, **kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_cli_put_with_http_info(self, request, **kwargs):  # noqa: E501
        """Updates global CLI credential  # noqa: E501

        This method is used to update global CLI credential  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_cli_put_with_http_info(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param CLICredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_global_credential_cli_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `api_v1_global_credential_cli_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/global-credential/cli', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_get(self, **kwargs):  # noqa: E501
        """Retrieves global credential for the given credential sub type  # noqa: E501

        This method is used to get global credential for the given credential sub type  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_get(async=True)
        >>> result = thread.get()

        :param async bool
        :param str credential_sub_type: Credential type as CLI / SNMPV2_READ_COMMUNITY / SNMPV2_WRITE_COMMUNITY / SNMPV3 / HTTP_WRITE / HTTP_READ / NETCONF
        :param str sort_by: sortBy
        :param str order: order
        :return: GlobalCredentialListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves global credential for the given credential sub type  # noqa: E501

        This method is used to get global credential for the given credential sub type  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str credential_sub_type: Credential type as CLI / SNMPV2_READ_COMMUNITY / SNMPV2_WRITE_COMMUNITY / SNMPV3 / HTTP_WRITE / HTTP_READ / NETCONF
        :param str sort_by: sortBy
        :param str order: order
        :return: GlobalCredentialListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['credential_sub_type', 'sort_by', 'order']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_global_credential_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'credential_sub_type' in params:
            query_params.append(('credentialSubType', params['credential_sub_type']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/global-credential', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalCredentialListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_global_credential_id_delete(self, global_credential_id, **kwargs):  # noqa: E501
        """Retrieves global credential by ID  # noqa: E501

        This method is used to delete global credential for the given ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_global_credential_id_delete(global_credential_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str global_credential_id: ID of global-credential (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_global_credential_id_delete_with_http_info(global_credential_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_global_credential_id_delete_with_http_info(global_credential_id, **kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_global_credential_id_delete_with_http_info(self, global_credential_id, **kwargs):  # noqa: E501
        """Retrieves global credential by ID  # noqa: E501

        This method is used to delete global credential for the given ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_global_credential_id_delete_with_http_info(global_credential_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str global_credential_id: ID of global-credential (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['global_credential_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_global_credential_global_credential_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'global_credential_id' is set
        if ('global_credential_id' not in params or
                params['global_credential_id'] is None):
            raise ValueError("Missing the required parameter `global_credential_id` when calling `api_v1_global_credential_global_credential_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'global_credential_id' in params:
            path_params['globalCredentialId'] = params['global_credential_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/global-credential/{globalCredentialId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_global_credential_id_put(self, request, global_credential_id, **kwargs):  # noqa: E501
        """Update global credential for network devices in site(s)  # noqa: E501

        Update global credential for network devices in site(s)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_global_credential_id_put(request, global_credential_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param SitesInfoDTO request: request (required)
        :param str global_credential_id: Global credential Uuid (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_global_credential_id_put_with_http_info(request, global_credential_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_global_credential_id_put_with_http_info(request, global_credential_id, **kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_global_credential_id_put_with_http_info(self, request, global_credential_id, **kwargs):  # noqa: E501
        """Update global credential for network devices in site(s)  # noqa: E501

        Update global credential for network devices in site(s)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_global_credential_id_put_with_http_info(request, global_credential_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param SitesInfoDTO request: request (required)
        :param str global_credential_id: Global credential Uuid (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request', 'global_credential_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_global_credential_global_credential_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `api_v1_global_credential_global_credential_id_put`")  # noqa: E501
        # verify the required parameter 'global_credential_id' is set
        if ('global_credential_id' not in params or
                params['global_credential_id'] is None):
            raise ValueError("Missing the required parameter `global_credential_id` when calling `api_v1_global_credential_global_credential_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'global_credential_id' in params:
            path_params['globalCredentialId'] = params['global_credential_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/global-credential/{globalCredentialId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_http_read_post(self, request, **kwargs):  # noqa: E501
        """Creates global HTTP read credentials  # noqa: E501

        This method is used to add HTTP read credentials  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_http_read_post(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param HTTPReadCredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_http_read_post_with_http_info(request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_http_read_post_with_http_info(request, **kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_http_read_post_with_http_info(self, request, **kwargs):  # noqa: E501
        """Creates global HTTP read credentials  # noqa: E501

        This method is used to add HTTP read credentials  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_http_read_post_with_http_info(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param HTTPReadCredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_global_credential_http_read_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `api_v1_global_credential_http_read_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/global-credential/http-read', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_http_read_put(self, request, **kwargs):  # noqa: E501
        """Updates global HTTP Read credential  # noqa: E501

        This method is used to update global HTTP Read credential  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_http_read_put(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param HTTPReadCredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_http_read_put_with_http_info(request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_http_read_put_with_http_info(request, **kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_http_read_put_with_http_info(self, request, **kwargs):  # noqa: E501
        """Updates global HTTP Read credential  # noqa: E501

        This method is used to update global HTTP Read credential  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_http_read_put_with_http_info(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param HTTPReadCredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_global_credential_http_read_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'request' is set
        if ('request' not in params or
                params['request'] is None):
            raise ValueError("Missing the required parameter `request` when calling `api_v1_global_credential_http_read_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/global-credential/http-read', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskIdResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_global_credential_http_write_post(self, request, **kwargs):  # noqa: E501
        """Creates global HTTP write credentials  # noqa: E501

        This method is used to add global HTTP write credentials  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.api_v1_global_credential_http_write_post(request, async=True)
        >>> result = thread.get()

        :param async bool
        :param HTTPWriteCredentialDTO request: request (required)
        :return: TaskIdResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.api_v1_global_credential_http_write_post_with_http_info(request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_global_credential_http_write_post_with_http_info(request, **kwargs)  # noqa: E501
            return data

    def api_v1_global_credential_http_write_post_with_http_info(self, request, **kwargs):  # noqa: E501
        """Creates global HTTP write credentials  # noqa: E501

        This method is used to add global HTTP write credentials  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
[...]
