# coding: utf-8

"""
    Cisco DNA Center Platform v. 1.2.x (EFT)

    REST API (EFT)  # noqa: E501

    OpenAPI spec version: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dnac_api_client.api_client import ApiClient


class PnPApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_onboarding_pnp_device_claim_post(self, claim_device_request, **kwargs):  # noqa: E501
        """Claim Device(s)  # noqa: E501

        This API is used to assign a project & workflow (i.e. claim) one of more devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_claim_post(claim_device_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClaimDeviceRequest claim_device_request: request (required)
        :return: ClaimDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_claim_post_with_http_info(claim_device_request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_claim_post_with_http_info(claim_device_request, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_claim_post_with_http_info(self, claim_device_request, **kwargs):  # noqa: E501
        """Claim Device(s)  # noqa: E501

        This API is used to assign a project & workflow (i.e. claim) one of more devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_claim_post_with_http_info(claim_device_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClaimDeviceRequest claim_device_request: request (required)
        :return: ClaimDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['claim_device_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_claim_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'claim_device_request' is set
        if ('claim_device_request' not in local_var_params or
                local_var_params['claim_device_request'] is None):
            raise ValueError("Missing the required parameter `claim_device_request` when calling `api_v1_onboarding_pnp_device_claim_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'claim_device_request' in local_var_params:
            body_params = local_var_params['claim_device_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/claim', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimDevicesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_count_get(self, **kwargs):  # noqa: E501
        """Get Device Count  # noqa: E501

        This API is used to get the number of the devices matching provided filters. This is useful for pageination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_count_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] serial_number: Device Serial Number
        :param list[str] state: Device State
        :param list[str] onb_state: Device Onboarding State
        :param list[str] cm_state: Device Connection Manager State
        :param list[str] name: Device Name
        :param list[str] pid: Device ProductId
        :param list[str] source: Device Source
        :param list[str] project_id: Device Project Id
        :param list[str] workflow_id: Device Workflow Id
        :param list[str] project_name: Device Project Name
        :param list[str] workflow_name: Device Workflow Name
        :param list[str] smart_account_id: Device Smart Account
        :param list[str] virtual_account_id: Device Virtual Account
        :param bool last_contact: Device Has Contacted lastContact > 0
        :return: GetDeviceCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_count_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_count_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_count_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get Device Count  # noqa: E501

        This API is used to get the number of the devices matching provided filters. This is useful for pageination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_count_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] serial_number: Device Serial Number
        :param list[str] state: Device State
        :param list[str] onb_state: Device Onboarding State
        :param list[str] cm_state: Device Connection Manager State
        :param list[str] name: Device Name
        :param list[str] pid: Device ProductId
        :param list[str] source: Device Source
        :param list[str] project_id: Device Project Id
        :param list[str] workflow_id: Device Workflow Id
        :param list[str] project_name: Device Project Name
        :param list[str] workflow_name: Device Workflow Name
        :param list[str] smart_account_id: Device Smart Account
        :param list[str] virtual_account_id: Device Virtual Account
        :param bool last_contact: Device Has Contacted lastContact > 0
        :return: GetDeviceCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['serial_number', 'state', 'onb_state', 'cm_state', 'name', 'pid', 'source', 'project_id', 'workflow_id', 'project_name', 'workflow_name', 'smart_account_id', 'virtual_account_id', 'last_contact']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_count_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'serial_number' in local_var_params:
            query_params.append(('serialNumber', local_var_params['serial_number']))  # noqa: E501
            collection_formats['serialNumber'] = 'csv'  # noqa: E501
        if 'state' in local_var_params:
            query_params.append(('state', local_var_params['state']))  # noqa: E501
            collection_formats['state'] = 'csv'  # noqa: E501
        if 'onb_state' in local_var_params:
            query_params.append(('onbState', local_var_params['onb_state']))  # noqa: E501
            collection_formats['onbState'] = 'csv'  # noqa: E501
        if 'cm_state' in local_var_params:
            query_params.append(('cmState', local_var_params['cm_state']))  # noqa: E501
            collection_formats['cmState'] = 'csv'  # noqa: E501
        if 'name' in local_var_params:
            query_params.append(('name', local_var_params['name']))  # noqa: E501
            collection_formats['name'] = 'csv'  # noqa: E501
        if 'pid' in local_var_params:
            query_params.append(('pid', local_var_params['pid']))  # noqa: E501
            collection_formats['pid'] = 'csv'  # noqa: E501
        if 'source' in local_var_params:
            query_params.append(('source', local_var_params['source']))  # noqa: E501
            collection_formats['source'] = 'csv'  # noqa: E501
        if 'project_id' in local_var_params:
            query_params.append(('projectId', local_var_params['project_id']))  # noqa: E501
            collection_formats['projectId'] = 'csv'  # noqa: E501
        if 'workflow_id' in local_var_params:
            query_params.append(('workflowId', local_var_params['workflow_id']))  # noqa: E501
            collection_formats['workflowId'] = 'csv'  # noqa: E501
        if 'project_name' in local_var_params:
            query_params.append(('projectName', local_var_params['project_name']))  # noqa: E501
            collection_formats['projectName'] = 'csv'  # noqa: E501
        if 'workflow_name' in local_var_params:
            query_params.append(('workflowName', local_var_params['workflow_name']))  # noqa: E501
            collection_formats['workflowName'] = 'csv'  # noqa: E501
        if 'smart_account_id' in local_var_params:
            query_params.append(('smartAccountId', local_var_params['smart_account_id']))  # noqa: E501
            collection_formats['smartAccountId'] = 'csv'  # noqa: E501
        if 'virtual_account_id' in local_var_params:
            query_params.append(('virtualAccountId', local_var_params['virtual_account_id']))  # noqa: E501
            collection_formats['virtualAccountId'] = 'csv'  # noqa: E501
        if 'last_contact' in local_var_params:
            query_params.append(('lastContact', local_var_params['last_contact']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetDeviceCountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_dashboard_count_get(self, category, **kwargs):  # noqa: E501
        """Get Categorized Device Count  # noqa: E501

        Get Categorized Device Count  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_dashboard_count_get(category, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str category: Valid Values: state, errorState, onbState or source (required)
        :return: GetCategorizedDeviceCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_dashboard_count_get_with_http_info(category, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_dashboard_count_get_with_http_info(category, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_dashboard_count_get_with_http_info(self, category, **kwargs):  # noqa: E501
        """Get Categorized Device Count  # noqa: E501

        Get Categorized Device Count  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_dashboard_count_get_with_http_info(category, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str category: Valid Values: state, errorState, onbState or source (required)
        :return: GetCategorizedDeviceCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['category']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_dashboard_count_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'category' is set
        if ('category' not in local_var_params or
                local_var_params['category'] is None):
            raise ValueError("Missing the required parameter `category` when calling `api_v1_onboarding_pnp_device_dashboard_count_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'category' in local_var_params:
            query_params.append(('category', local_var_params['category']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/dashboard/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetCategorizedDeviceCountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_get(self, **kwargs):  # noqa: E501
        """List devices  # noqa: E501

        This API is used to get the list of devices that match the provided filter. Pagination and sorting are also supported. If a limit is not specified, it will default to return 50 devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: Limits number of results
        :param int offset: Index of first result
        :param list[str] sort: Comma seperated list of fields to sort on
        :param str sort_order: Sort Order Ascending (asc) or Descending (des)
        :param list[str] serial_number: Device Serial Number
        :param list[str] state: Device State
        :param list[str] onb_state: Device Onboarding State
        :param list[str] cm_state: Device Connection Manager State
        :param list[str] name: Device Name
        :param list[str] pid: Device ProductId
        :param list[str] source: Device Source
        :param list[str] project_id: Device Project Id
        :param list[str] workflow_id: Device Workflow Id
        :param list[str] project_name: Device Project Name
        :param list[str] workflow_name: Device Workflow Name
        :param list[str] smart_account_id: Device Smart Account
        :param list[str] virtual_account_id: Device Virtual Account
        :param bool last_contact: Device Has Contacted lastContact > 0
        :return: ListDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_get_with_http_info(self, **kwargs):  # noqa: E501
        """List devices  # noqa: E501

        This API is used to get the list of devices that match the provided filter. Pagination and sorting are also supported. If a limit is not specified, it will default to return 50 devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: Limits number of results
        :param int offset: Index of first result
        :param list[str] sort: Comma seperated list of fields to sort on
        :param str sort_order: Sort Order Ascending (asc) or Descending (des)
        :param list[str] serial_number: Device Serial Number
        :param list[str] state: Device State
        :param list[str] onb_state: Device Onboarding State
        :param list[str] cm_state: Device Connection Manager State
        :param list[str] name: Device Name
        :param list[str] pid: Device ProductId
        :param list[str] source: Device Source
        :param list[str] project_id: Device Project Id
        :param list[str] workflow_id: Device Workflow Id
        :param list[str] project_name: Device Project Name
        :param list[str] workflow_name: Device Workflow Name
        :param list[str] smart_account_id: Device Smart Account
        :param list[str] virtual_account_id: Device Virtual Account
        :param bool last_contact: Device Has Contacted lastContact > 0
        :return: ListDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['limit', 'offset', 'sort', 'sort_order', 'serial_number', 'state', 'onb_state', 'cm_state', 'name', 'pid', 'source', 'project_id', 'workflow_id', 'project_name', 'workflow_name', 'smart_account_id', 'virtual_account_id', 'last_contact']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in local_var_params:
            query_params.append(('limit', local_var_params['limit']))  # noqa: E501
        if 'offset' in local_var_params:
            query_params.append(('offset', local_var_params['offset']))  # noqa: E501
        if 'sort' in local_var_params:
            query_params.append(('sort', local_var_params['sort']))  # noqa: E501
            collection_formats['sort'] = 'csv'  # noqa: E501
        if 'sort_order' in local_var_params:
            query_params.append(('sortOrder', local_var_params['sort_order']))  # noqa: E501
        if 'serial_number' in local_var_params:
            query_params.append(('serialNumber', local_var_params['serial_number']))  # noqa: E501
            collection_formats['serialNumber'] = 'csv'  # noqa: E501
        if 'state' in local_var_params:
            query_params.append(('state', local_var_params['state']))  # noqa: E501
            collection_formats['state'] = 'csv'  # noqa: E501
        if 'onb_state' in local_var_params:
            query_params.append(('onbState', local_var_params['onb_state']))  # noqa: E501
            collection_formats['onbState'] = 'csv'  # noqa: E501
        if 'cm_state' in local_var_params:
            query_params.append(('cmState', local_var_params['cm_state']))  # noqa: E501
            collection_formats['cmState'] = 'csv'  # noqa: E501
        if 'name' in local_var_params:
            query_params.append(('name', local_var_params['name']))  # noqa: E501
            collection_formats['name'] = 'csv'  # noqa: E501
        if 'pid' in local_var_params:
            query_params.append(('pid', local_var_params['pid']))  # noqa: E501
            collection_formats['pid'] = 'csv'  # noqa: E501
        if 'source' in local_var_params:
            query_params.append(('source', local_var_params['source']))  # noqa: E501
            collection_formats['source'] = 'csv'  # noqa: E501
        if 'project_id' in local_var_params:
            query_params.append(('projectId', local_var_params['project_id']))  # noqa: E501
            collection_formats['projectId'] = 'csv'  # noqa: E501
        if 'workflow_id' in local_var_params:
            query_params.append(('workflowId', local_var_params['workflow_id']))  # noqa: E501
            collection_formats['workflowId'] = 'csv'  # noqa: E501
        if 'project_name' in local_var_params:
            query_params.append(('projectName', local_var_params['project_name']))  # noqa: E501
            collection_formats['projectName'] = 'csv'  # noqa: E501
        if 'workflow_name' in local_var_params:
            query_params.append(('workflowName', local_var_params['workflow_name']))  # noqa: E501
            collection_formats['workflowName'] = 'csv'  # noqa: E501
        if 'smart_account_id' in local_var_params:
            query_params.append(('smartAccountId', local_var_params['smart_account_id']))  # noqa: E501
            collection_formats['smartAccountId'] = 'csv'  # noqa: E501
        if 'virtual_account_id' in local_var_params:
            query_params.append(('virtualAccountId', local_var_params['virtual_account_id']))  # noqa: E501
            collection_formats['virtualAccountId'] = 'csv'  # noqa: E501
        if 'last_contact' in local_var_params:
            query_params.append(('lastContact', local_var_params['last_contact']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListDevicesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_history_get(self, serial_number, **kwargs):  # noqa: E501
        """Get Device History  # noqa: E501

        Retrieves history for a specific device. Serial Number is a required parameter  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_history_get(serial_number, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str serial_number: Device Serial Number (required)
        :param list[str] sort: Comma seperated list of fields to sort on
        :param str sort_order: Sort Order Ascending (asc) or Descending (des)
        :return: GetDeviceHistoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_history_get_with_http_info(serial_number, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_history_get_with_http_info(serial_number, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_history_get_with_http_info(self, serial_number, **kwargs):  # noqa: E501
        """Get Device History  # noqa: E501

        Retrieves history for a specific device. Serial Number is a required parameter  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_history_get_with_http_info(serial_number, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str serial_number: Device Serial Number (required)
        :param list[str] sort: Comma seperated list of fields to sort on
        :param str sort_order: Sort Order Ascending (asc) or Descending (des)
        :return: GetDeviceHistoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['serial_number', 'sort', 'sort_order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_history_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'serial_number' is set
        if ('serial_number' not in local_var_params or
                local_var_params['serial_number'] is None):
            raise ValueError("Missing the required parameter `serial_number` when calling `api_v1_onboarding_pnp_device_history_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'serial_number' in local_var_params:
            query_params.append(('serialNumber', local_var_params['serial_number']))  # noqa: E501
        if 'sort' in local_var_params:
            query_params.append(('sort', local_var_params['sort']))  # noqa: E501
            collection_formats['sort'] = 'csv'  # noqa: E501
        if 'sort_order' in local_var_params:
            query_params.append(('sortOrder', local_var_params['sort_order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/history', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetDeviceHistoryResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_id_delete(self, id, **kwargs):  # noqa: E501
        """Delete Device  # noqa: E501

        This API is used to delete the specified device from the database.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_id_delete(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: id (required)
        :return: DeleteDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_id_delete_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_id_delete_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_id_delete_with_http_info(self, id, **kwargs):  # noqa: E501
        """Delete Device  # noqa: E501

        This API is used to delete the specified device from the database.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_id_delete_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: id (required)
        :return: DeleteDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_id_delete" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in local_var_params or
                local_var_params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_onboarding_pnp_device_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteDeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_id_get(self, id, **kwargs):  # noqa: E501
        """Get Device by ID  # noqa: E501

        Get device details of the device with input device id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_id_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: id (required)
        :return: GetDeviceByIDResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Device by ID  # noqa: E501

        Get device details of the device with input device id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_id_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: id (required)
        :return: GetDeviceByIDResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_id_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in local_var_params or
                local_var_params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_onboarding_pnp_device_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetDeviceByIDResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_id_put(self, id, request_body, **kwargs):  # noqa: E501
        """Update Device  # noqa: E501

        This API is used to update device details of a device that exists in the PnP database.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_id_put(id, request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: id (required)
        :param list[object] request_body: request (required)
        :return: UpdateDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_id_put_with_http_info(id, request_body, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_id_put_with_http_info(id, request_body, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_id_put_with_http_info(self, id, request_body, **kwargs):  # noqa: E501
        """Update Device  # noqa: E501

        This API is used to update device details of a device that exists in the PnP database.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_id_put_with_http_info(id, request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: id (required)
        :param list[object] request_body: request (required)
        :return: UpdateDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['id', 'request_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_id_put" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in local_var_params or
                local_var_params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `api_v1_onboarding_pnp_device_id_put`")  # noqa: E501
        # verify the required parameter 'request_body' is set
        if ('request_body' not in local_var_params or
                local_var_params['request_body'] is None):
            raise ValueError("Missing the required parameter `request_body` when calling `api_v1_onboarding_pnp_device_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request_body' in local_var_params:
            body_params = local_var_params['request_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UpdateDeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_import_post(self, request_body, **kwargs):  # noqa: E501
        """Import Many Devices  # noqa: E501

        This API is used to import a list of Planned devices to the PnP database. A Planned device is a device that the customer has bought and/or is planning to manage.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_import_post(request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] request_body: request (required)
        :return: ImportManyDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_import_post_with_http_info(request_body, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_import_post_with_http_info(request_body, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_import_post_with_http_info(self, request_body, **kwargs):  # noqa: E501
        """Import Many Devices  # noqa: E501

        This API is used to import a list of Planned devices to the PnP database. A Planned device is a device that the customer has bought and/or is planning to manage.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_import_post_with_http_info(request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] request_body: request (required)
        :return: ImportManyDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['request_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_import_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'request_body' is set
        if ('request_body' not in local_var_params or
                local_var_params['request_body'] is None):
            raise ValueError("Missing the required parameter `request_body` when calling `api_v1_onboarding_pnp_device_import_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request_body' in local_var_params:
            body_params = local_var_params['request_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/import', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ImportManyDevicesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_post(self, request_body, **kwargs):  # noqa: E501
        """Create Device  # noqa: E501

        This API is used to add a Planned device to the PnP database. A Planned device is a device that the customer has bought and/or is planning to manage.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_post(request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] request_body: request (required)
        :return: CreateDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_post_with_http_info(request_body, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_post_with_http_info(request_body, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_post_with_http_info(self, request_body, **kwargs):  # noqa: E501
        """Create Device  # noqa: E501

        This API is used to add a Planned device to the PnP database. A Planned device is a device that the customer has bought and/or is planning to manage.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_post_with_http_info(request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] request_body: request (required)
        :return: CreateDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['request_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'request_body' is set
        if ('request_body' not in local_var_params or
                local_var_params['request_body'] is None):
            raise ValueError("Missing the required parameter `request_body` when calling `api_v1_onboarding_pnp_device_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request_body' in local_var_params:
            body_params = local_var_params['request_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateDeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_provision_post(self, push_provision_request, **kwargs):  # noqa: E501
        """Provision Device  # noqa: E501

        This API is used push one or more devices to Provisoned state and add them to inventory.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_provision_post(push_provision_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PushProvisionRequest push_provision_request: request (required)
        :return: ProvisionDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_provision_post_with_http_info(push_provision_request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_provision_post_with_http_info(push_provision_request, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_provision_post_with_http_info(self, push_provision_request, **kwargs):  # noqa: E501
        """Provision Device  # noqa: E501

        This API is used push one or more devices to Provisoned state and add them to inventory.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_provision_post_with_http_info(push_provision_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PushProvisionRequest push_provision_request: request (required)
        :return: ProvisionDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['push_provision_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_provision_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'push_provision_request' is set
        if ('push_provision_request' not in local_var_params or
                local_var_params['push_provision_request'] is None):
            raise ValueError("Missing the required parameter `push_provision_request` when calling `api_v1_onboarding_pnp_device_provision_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'push_provision_request' in local_var_params:
            body_params = local_var_params['push_provision_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/provision', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProvisionDeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_reset_post(self, reset_request, **kwargs):  # noqa: E501
        """Reset Device  # noqa: E501

        This API is used to recover a device from a Workflow Execution Error state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_reset_post(reset_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResetRequest reset_request: request (required)
        :return: ResetDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_reset_post_with_http_info(reset_request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_reset_post_with_http_info(reset_request, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_reset_post_with_http_info(self, reset_request, **kwargs):  # noqa: E501
        """Reset Device  # noqa: E501

        This API is used to recover a device from a Workflow Execution Error state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_reset_post_with_http_info(reset_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResetRequest reset_request: request (required)
        :return: ResetDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['reset_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_reset_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'reset_request' is set
        if ('reset_request' not in local_var_params or
                local_var_params['reset_request'] is None):
            raise ValueError("Missing the required parameter `reset_request` when calling `api_v1_onboarding_pnp_device_reset_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'reset_request' in local_var_params:
            body_params = local_var_params['reset_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/reset', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ResetDeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get(self, domain, name, **kwargs):  # noqa: E501
        """Get Sync Result for Virtual Account  # noqa: E501

        This API is used to get the device sync info from the given smart account & virtual account with the PnP database. The SAVAMapping object which has the list of devices synced since the last sync is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get(domain, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain: Smart Account Domain (required)
        :param str name: Virtual Account Name (required)
        :return: GetSyncResultForVirtualAccountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get_with_http_info(domain, name, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get_with_http_info(domain, name, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get_with_http_info(self, domain, name, **kwargs):  # noqa: E501
        """Get Sync Result for Virtual Account  # noqa: E501

        This API is used to get the device sync info from the given smart account & virtual account with the PnP database. The SAVAMapping object which has the list of devices synced since the last sync is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get_with_http_info(domain, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain: Smart Account Domain (required)
        :param str name: Virtual Account Name (required)
        :return: GetSyncResultForVirtualAccountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['domain', 'name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'domain' is set
        if ('domain' not in local_var_params or
                local_var_params['domain'] is None):
            raise ValueError("Missing the required parameter `domain` when calling `api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in local_var_params or
                local_var_params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `api_v1_onboarding_pnp_device_sacct_domain_vacct_name_sync_result_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain' in local_var_params:
            path_params['domain'] = local_var_params['domain']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/sacct/{domain}/vacct/{name}/sync-result', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetSyncResultForVirtualAccountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_unclaim_post(self, unclaim_request, **kwargs):  # noqa: E501
        """Un-Claim Device  # noqa: E501

        This API is used to unassign the project and workflow from one or more device.A device can only be unclaimed if it has not begun provisioning.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_unclaim_post(unclaim_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UnclaimRequest unclaim_request: request (required)
        :return: UnClaimDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_unclaim_post_with_http_info(unclaim_request, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_unclaim_post_with_http_info(unclaim_request, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_unclaim_post_with_http_info(self, unclaim_request, **kwargs):  # noqa: E501
        """Un-Claim Device  # noqa: E501

        This API is used to unassign the project and workflow from one or more device.A device can only be unclaimed if it has not begun provisioning.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_unclaim_post_with_http_info(unclaim_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UnclaimRequest unclaim_request: request (required)
        :return: UnClaimDeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['unclaim_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_unclaim_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'unclaim_request' is set
        if ('unclaim_request' not in local_var_params or
                local_var_params['unclaim_request'] is None):
            raise ValueError("Missing the required parameter `unclaim_request` when calling `api_v1_onboarding_pnp_device_unclaim_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'unclaim_request' in local_var_params:
            body_params = local_var_params['unclaim_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/unclaim', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UnClaimDeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_device_vacct_sync_post(self, sava_mapping, **kwargs):  # noqa: E501
        """Sync Virtual Account Devices  # noqa: E501

        This API is used to sync the device info from the given smart account & virtual account with the PnP database. The list of synced devices is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_vacct_sync_post(sava_mapping, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SAVAMapping sava_mapping: request (required)
        :return: SyncVirtualAccountDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_device_vacct_sync_post_with_http_info(sava_mapping, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_device_vacct_sync_post_with_http_info(sava_mapping, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_device_vacct_sync_post_with_http_info(self, sava_mapping, **kwargs):  # noqa: E501
        """Sync Virtual Account Devices  # noqa: E501

        This API is used to sync the device info from the given smart account & virtual account with the PnP database. The list of synced devices is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_device_vacct_sync_post_with_http_info(sava_mapping, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SAVAMapping sava_mapping: request (required)
        :return: SyncVirtualAccountDevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['sava_mapping']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_device_vacct_sync_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'sava_mapping' is set
        if ('sava_mapping' not in local_var_params or
                local_var_params['sava_mapping'] is None):
            raise ValueError("Missing the required parameter `sava_mapping` when calling `api_v1_onboarding_pnp_device_vacct_sync_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sava_mapping' in local_var_params:
            body_params = local_var_params['sava_mapping']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-device/vacct-sync', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SyncVirtualAccountDevicesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_settings_get(self, **kwargs):  # noqa: E501
        """View Settings  # noqa: E501

        Get this user's list of global PnP settings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ViewSettingsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_settings_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_settings_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_settings_get_with_http_info(self, **kwargs):  # noqa: E501
        """View Settings  # noqa: E501

        Get this user's list of global PnP settings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ViewSettingsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_settings_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-settings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ViewSettingsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_settings_put(self, settings, **kwargs):  # noqa: E501
        """Update Settings  # noqa: E501

        Change this user's list of global PnP settings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_put(settings, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Settings settings: request (required)
        :return: UpdateSettingsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_settings_put_with_http_info(settings, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_settings_put_with_http_info(settings, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_settings_put_with_http_info(self, settings, **kwargs):  # noqa: E501
        """Update Settings  # noqa: E501

        Change this user's list of global PnP settings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_put_with_http_info(settings, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Settings settings: request (required)
        :return: UpdateSettingsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['settings']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_settings_put" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'settings' is set
        if ('settings' not in local_var_params or
                local_var_params['settings'] is None):
            raise ValueError("Missing the required parameter `settings` when calling `api_v1_onboarding_pnp_settings_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'settings' in local_var_params:
            body_params = local_var_params['settings']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-settings', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UpdateSettingsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_settings_sacct_domain_vacct_get(self, domain, **kwargs):  # noqa: E501
        """Get Virtual Account List  # noqa: E501

        This API is used to get list of Virtual Accounts associated with the specified Smart Account. The list of virtual account names is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_sacct_domain_vacct_get(domain, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain: Smart Account Domain (required)
        :return: GetVirtualAccountListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_settings_sacct_domain_vacct_get_with_http_info(domain, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_settings_sacct_domain_vacct_get_with_http_info(domain, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_settings_sacct_domain_vacct_get_with_http_info(self, domain, **kwargs):  # noqa: E501
        """Get Virtual Account List  # noqa: E501

        This API is used to get list of Virtual Accounts associated with the specified Smart Account. The list of virtual account names is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_sacct_domain_vacct_get_with_http_info(domain, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain: Smart Account Domain (required)
        :return: GetVirtualAccountListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['domain']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_settings_sacct_domain_vacct_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'domain' is set
        if ('domain' not in local_var_params or
                local_var_params['domain'] is None):
            raise ValueError("Missing the required parameter `domain` when calling `api_v1_onboarding_pnp_settings_sacct_domain_vacct_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain' in local_var_params:
            path_params['domain'] = local_var_params['domain']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-settings/sacct/{domain}/vacct', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetVirtualAccountListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_settings_sacct_get(self, **kwargs):  # noqa: E501
        """Get Smart Account List  # noqa: E501

        This API is used to get list of Smart Accounts. The list of smart account domains is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_sacct_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetSmartAccountListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_settings_sacct_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_settings_sacct_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_settings_sacct_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get Smart Account List  # noqa: E501

        This API is used to get list of Smart Accounts. The list of smart account domains is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_sacct_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetSmartAccountListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_settings_sacct_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-settings/sacct', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetSmartAccountListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_settings_savacct_post(self, sava_mapping, **kwargs):  # noqa: E501
        """Add Virtual Account  # noqa: E501

        This API is used to register a Smart Account, Virtual Account and the relevant server profile info with the PnP System & database. The devices present in the registered virtual account are synced with the PnP database as well. The new profile is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_savacct_post(sava_mapping, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SAVAMapping sava_mapping: request (required)
        :return: AddVirtualAccountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_settings_savacct_post_with_http_info(sava_mapping, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_settings_savacct_post_with_http_info(sava_mapping, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_settings_savacct_post_with_http_info(self, sava_mapping, **kwargs):  # noqa: E501
        """Add Virtual Account  # noqa: E501

        This API is used to register a Smart Account, Virtual Account and the relevant server profile info with the PnP System & database. The devices present in the registered virtual account are synced with the PnP database as well. The new profile is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_savacct_post_with_http_info(sava_mapping, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SAVAMapping sava_mapping: request (required)
        :return: AddVirtualAccountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['sava_mapping']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_settings_savacct_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'sava_mapping' is set
        if ('sava_mapping' not in local_var_params or
                local_var_params['sava_mapping'] is None):
            raise ValueError("Missing the required parameter `sava_mapping` when calling `api_v1_onboarding_pnp_settings_savacct_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sava_mapping' in local_var_params:
            body_params = local_var_params['sava_mapping']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/onboarding/pnp-settings/savacct', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AddVirtualAccountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_onboarding_pnp_settings_savacct_put(self, sava_mapping, **kwargs):  # noqa: E501
        """Edit PnP Server Profile  # noqa: E501

        This API is used to edit the PnP Server profile in a registered Virtual Account in the PnP database.The edited smart & virtual account info is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_savacct_put(sava_mapping, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SAVAMapping sava_mapping: request (required)
        :return: EditPnPServerProfileResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_onboarding_pnp_settings_savacct_put_with_http_info(sava_mapping, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_onboarding_pnp_settings_savacct_put_with_http_info(sava_mapping, **kwargs)  # noqa: E501
            return data

    def api_v1_onboarding_pnp_settings_savacct_put_with_http_info(self, sava_mapping, **kwargs):  # noqa: E501
        """Edit PnP Server Profile  # noqa: E501

        This API is used to edit the PnP Server profile in a registered Virtual Account in the PnP database.The edited smart & virtual account info is returned in the response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_onboarding_pnp_settings_savacct_put_with_http_info(sava_mapping, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SAVAMapping sava_mapping: request (required)
        :return: EditPnPServerProfileResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['sava_mapping']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_onboarding_pnp_settings_savacct_put" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'sava_mapping' is set
        if ('sava_mapping' not in local_var_params or
                local_var_params['sava_mapping'] is None):
[...]
